 ## This interactive python is to analyse and test desciprive anlysis before adding the usefula codes in the dashboard

In [1]:
import pandas as pd
import plotly.express as px

In [5]:
#Reading the selected dataset
df = pd.read_csv("processed_data.csv")
df.head()

,ID,Sex,Age,Hypertension,Heart Disease,Married,Work Type,Residence Type,Glucose,BMI,Smoking?,Stroke
0,9046,Male,67.0,False,True,True,Private,Urban,228.69,36.6,formerly smoked,True
1,51676,Female,61.0,False,False,True,Self-employed,Rural,202.21,0.0,never smoked,True
2,31112,Male,80.0,False,True,True,Private,Rural,105.92,32.5,never smoked,True
3,60182,Female,49.0,False,False,True,Private,Urban,171.23,34.4,smokes,True
4,1665,Female,79.0,True,False,True,Self-employed,Rural,174.12,24.0,never smoked,True

In [7]:
total_patients = len(df)
stroke_rate = (df['Stroke'] == 1).mean() * 100
mean_age = df['Age'].mean()
heart_disease_rate = (df['Heart Disease'] == 1).mean() * 100

print(f"Total patients: {total_patients}\nStroke rate: {stroke_rate}\nMean age: {mean_age}\nHeart disease rate: {heart_disease_rate}")

Total patients: 5110
Stroke rate: 4.87279843444227
Mean age: 43.226614481409
Heart disease rate: 5.401174168297456

In [8]:
#Gender analysis
df['Sex'].value_counts(dropna=False)

Sex
Female    2994
Male      2115
Other        1
Name: count, dtype: int64

In [11]:
gender_counts = df['Sex'].value_counts(dropna=False)
gender_pct = (gender_counts / gender_counts.sum() * 100).round(1).to_dict()
male_pct = gender_pct.get('Male', 0.0)
female_pct = gender_pct.get('Female', 0.0)
print(f"{gender_pct}\nMale %: {male_pct}\nFemale %: {female_pct}")

{'Female': 58.6, 'Male': 41.4, 'Other': 0.0}
Male %: 41.4
Female %: 58.6

In [12]:
age_stroke_mean = df[df['Stroke'] == 1]['Age'].mean()
age_nostroke_mean = df[df['Stroke'] == 0]['Age'].mean()
print('Age_Mean_Sroke',age_stroke_mean)
print('Age_Mean_Non-Sroke',age_nostroke_mean)

Age_Mean_Sroke 67.72819277108434
Age_Mean_Non-Sroke 41.971544949598844

In [13]:
#Heart Diseases and Storke
grp_hrt_stk = df.groupby(['Heart Disease', 'Stroke']).size().reset_index(name='count')
grp_hrt_stk

   Heart Disease  Stroke  count
0          False   False   4632
1          False    True    202
2           True   False    229
3           True    True     47

In [14]:
#Smoking and Storke
grp_smoke = df.groupby('Smoking?')['Stroke'].mean().reset_index()
grp_smoke['Stroke Rate (%)'] = grp_smoke['Stroke'] * 100
grp_smoke

          Smoking?    Stroke  Stroke Rate (%)
0          Unknown  0.030440         3.044041
1  formerly smoked  0.079096         7.909605
2     never smoked  0.047569         4.756871
3           smokes  0.053232         5.323194

In [ ]:
#Work type, residence, heart disease

grp_work = df.groupby(['Work Type', 'Residence Type'])['Heart Disease'].mean().reset_index()
grp_work['Heart Disease Rate (%)'] = grp_work['Heart Disease'] * 100
grp_work

       Work Type Residence Type  Heart Disease  Heart Disease Rate (%)
0       Govt_job          Rural       0.051282                5.128205
1       Govt_job          Urban       0.057971                5.797101
2   Never_worked          Rural       0.000000                0.000000
3   Never_worked          Urban       0.000000                0.000000
4        Private          Rural       0.055404                5.540356
5        Private          Urban       0.052632                5.263158
6  Self-employed          Rural       0.094148                9.414758
7  Self-employed          Urban       0.103286               10.328638
8       children          Rural       0.000000                0.000000
9       children          Urban       0.002882                0.288184

In [16]:
#Average glucose level in Storke/Non-Stroke patients
grp_glucose = df.groupby('Stroke')['Glucose'].mean().reset_index()
grp_glucose

   Stroke     Glucose
0   False  104.795513
1    True  132.544739

In [17]:
# Average BMI in Storke/Non-Stroke patients
grp_bmi = df.groupby('Hypertension')['BMI'].mean()
grp_bmi

Hypertension
False    27.523287
True     29.918675
Name: BMI, dtype: float64